<!DOCTYPE html>
<html>
<head>
  <title>POKEMON INDEX</title>
<!--   <link href="https://fonts.googleapis.com/css?family=Ceviche+One" rel="stylesheet">
  <style>
  @import url('https://fonts.googleapis.com/css?family=Ceviche+One');
   body {
      color: blanchedalmond;
      background-color: steelblue;
      font-family: 'Ceviche One', cursive;
      font-size: 400%;
      display: flex;
      text-align: center;
      flex-direction: column;
      text-decoration: none;
    }
    h1 {
      margin-bottom: -20px;
    }
    ul, a {
      font-size: 100%;
      list-style: none;
      text-decoration: none;
      margin-left: -25px;
    }

  </style> -->
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<!--   <audio controls autoplay src="https://www.myinstants.com/instant/pokemon/#.W0YX7g3l0IA.link"></audio> -->
 <h1>See All Pokemon!</h1>

    <ul>
    <% for (let i = 0; i < pokemons.length; i++) { %>
      <li>
        <a href="http://localhost:3000/pokemons/<%= i %>"> <%= pokemons[i].name %></a>

          <form action="/pokemons/<%=i%>?_method=DELETE" method="POST" >
            <button type="submit">Put down pokemon</button>     

          </form>


          <a href="/pokemons/<%=i%>/edit">Edit</a>

        </li>
    <%} %>
    </ul>


</body>
</html>