<!DOCTYPE html>
<html>
<head>
  <title>POKEMON SHOW</title>
   <link rel="stylesheet" type="text/css" href="/css/show.css">
</head>
<body>
  <h1>Gotta Catch Em All</h1>

  <h2>Pokemon: <%= pokemon.name %></h2>
  <img src="<%= pokemon.img %>">
  <% if(pokemon.happy === true) { %>
    <span>Happy</span>
  <% } else { %>
    <span>Not Happy</span>
  <% } %>


  <h5><a href="http://localhost:3000/pokemons/">back to pokemon</a></h5>



</body>
</html>